@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    font-family: 'Nanum Gothic', 'Dotum', 'Apple Gothic';
}

body {
    background: url(images/main_bg.gif) repeat-x fixed #FCFCFC
}

.page-header {
    border-bottom: 1px solid #555;
}

.page-header button,
.page-header input
{
    vertical-align: middle !important;
}

.content-page {
    border-radius: 15px;
    background: rgba(252,252,252,0.4);
    box-shadow: 0px 0px 20px #AAA;
    min-height: 100px;
    margin-bottom: 20px;
    padding-bottom: 8px;
}

.content-page .title {
    background: #ffe5e5; /* Old browsers */
    background: -moz-linear-gradient(left, #ffe5e5 0%, #fbffe5 33%, #ffffff 66%, #e5f4ff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffe5e5), color-stop(33%,#fbffe5), color-stop(66%,#ffffff), color-stop(100%,#e5f4ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ffe5e5 0%,#fbffe5 33%,#ffffff 66%,#e5f4ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ffe5e5 0%,#fbffe5 33%,#ffffff 66%,#e5f4ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ffe5e5 0%,#fbffe5 33%,#ffffff 66%,#e5f4ff 100%); /* IE10+ */
    background: linear-gradient(to right, #ffe5e5 0%,#fbffe5 33%,#ffffff 66%,#e5f4ff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe5e5', endColorstr='#e5f4ff',GradientType=1 ); /* IE6-9 */

    color: #666;
    border-radius: 15px 15px 0 0;
    height: 26px;
    font-size: 20px;
    padding: 10px 15px;
    line-height: normal;
}

.basicinfo .title {
    margin-bottom: 5px;
}

.basicinfo .info {
    margin-bottom: 5px;
}

.basicinfo .add-desc:before {
    margin-right: 10px;
    font-weight: bold;
    content: attr(description);
}

.basicinfo .subinfo-name {
    font-size: 50px;
    line-height: 100%;
    border-bottom: 1px solid #AAA;
    margin-bottom: 10px;
    margin-right: 10px;
}

.basicinfo .info.jubility {
    position: relative;
}
.basicinfo .subinfo-jubility {
    padding-right: 10px;
    text-align: right;
}
.basicinfo .subinfo-jubilityimage {
    position: absolute;
    top: 0;
    right: 0;
}
.basicinfo .subinfo-jubilityimage img {
    width: 244px;
    height: 244px;
}

.basicinfo .info.setting {
    display: none;
}

.basicinfo .info.tbs {
    display: none;
}

.basicinfo .subinfo-play:after,
.basicinfo .subinfo-fullcombo:after,
.basicinfo .subinfo-excellent:after
{
    margin-left: 5px;
    content: '회';
}

.basicinfo .link-eagate {
    margin-left: 5px;
}


.stats table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.music-list .idx .name {
    width: 370px;
}

.music-list .idx .bsc,
.music-list .idx .adv,
.music-list .idx .ext
{
    width: 190px;
}

.music-list .sorter td {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.music-list .sorter .on {
    padding: 2px;
    border: 1px solid;
    border-radius: 3px;
}
.music-list .sorter .asc:after {
    content: ' ▲';
}
.music-list .sorter .desc:after {
    content: ' ▼';
}

.color-bsc {
    color: #87EE2C;
}
.color-adv {
    color: #F7DB24;
}
.color-ext {
    color: #FF7C59;
}
.color-bsc-darken {
    color: #529D1C;
}
.color-adv-darken {
    color: #A87F28;
}
.color-ext-darken {
    color: #A73D34;
}

.music-list .entry td {
    height: 40px;
    vertical-align: middle;
}

.music-list .entry td.bsc,
.music-list .entry-info td.bsc {
    border-left: 6px solid #87EE2C;
}
.music-list .entry td.adv,
.music-list .entry-info td.adv {
    border-left: 6px solid #F7DB24;
}
.music-list .entry td.ext,
.music-list .entry-info td.ext {
    border-left: 6px solid #FF7C59;
}

.music-list .entry-info td {
    height: 12px;
    margin: 0;
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    border-top: 1px solid #eee;
    font-size: 10px;
    text-align: right;
}
.music-list .entry-info td.music {
    padding-left: 8px;
    text-align: left;
}
.music-list .entry-info .label-bpm,
.music-list .entry-info .label-note { 
    margin-right: 3px;
}
.music-list .entry-info .label-note:before { 
    content: '/';
    margin: 0 5px;
}
.music-list .entry-info .value-note:before { 
    content: '-';
    color: #333;
}
.music-list .entry-info .value-note.first:before { 
    content: '';
}

.music-list .entry .fc,
.music-list .entry .nfc {
    position: relative;
}

.music-list .entry .fc:hover,
.music-list .entry .nfc:hover {
    border-bottom: 1px solid #ff7c59;
    cursor: pointer;
}

.music-list .entry .rank {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 12px;
    right: 7px;
    text-align: center;
}
.music-list .entry .rank img {
    padding-top: 6px;
}
.music-list .entry .nfc .rank {
    background-image: url('images/fc_icon_0.png');
}
.music-list .entry .fc .rank {
    background-image: url('images/fc_icon_1.png');
}
.music-list .entry .score {
    padding-right: 37px;
    line-height: 0%;
    font-size: 20px;
    text-align: right;
    font-family: Tahoma;
}
.music-list .entry .level {
    margin-left: -3px;
    line-height: 0%;
    font-size: 36px;
    text-align: center;
    width: 40px;
    font-family: Tahoma;
}
.music-list .entry .not-played-yet {
    padding-left: 45px;
    line-height: 0%;
    font-size: 14px;
    color: #999;
    text-align: center;
}

.music-list .entry .music {
    max-width: 340px;
    overflow-x: hidden;
    white-space: nowrap;
}

.music-list .entry .music .image {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 5px;
}

.music-list .entry .music .name {
    font-size: 18px;
    font-weight: bold;
    max-width: inherit;
}

.music-list .entry .music .artist {
    font-size: 13px;
    max-width: inherit;
}

.music-list .entry.total .desc {
    font-size: 40px;
}
.music-list .entry.total .level {
    font-size: 26px;
}
.music-list .entry.total .bsc,
.music-list .entry-info.total .bsc {
    border-left-color: #529D1C;
}
.music-list .entry.total .adv,
.music-list .entry-info.total .adv {
    border-left-color: #A87F28;
}
.music-list .entry.total .ext,
.music-list .entry-info.total .ext {
    border-left-color: #A73D34;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
.footer p {
    margin-bottom: 0;
    color: #777;
}
.footer-links {
    margin: 10px 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.footer-links li:first-child {
    padding-left: 0;
}
